.color_box {
    display:inline-block;
    height:25px;
    width:25px;
    padding:10px;
}

.color_code {
    font-family:"Lato";
    display:inline-block;
    width:50%;
}

.remove_color {
    color:red;
    padding-left:10px;
}

.modal-dialog{
    position: absolute;
    left: 50%;
    margin-left: -312px;
    height: 500px;
    top: 50%;
    margin-top: -250px;
}

.no_display {
    display: none;
}

.panel-sub-header {
  font-size:13px;
  color:grey;
  padding: 5px;
}

.pager li>a, .pager li>span {
  display: inline-block;
  padding: 3px;
  background-color: #18bc9c;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size:13px;
}