/*! Larabooster - v0.2.0 - 2014-01-08 */
.color_box {
  display: inline-block;
  height: 25px;
  width: 25px;
  padding: 10px; }

.color_code {
  font-family: "Lato";
  display: inline-block;
  width: 50%; }

.remove_color {
  color: red;
  padding-left: 10px; }

.modal-dialog {
  position: absolute;
  left: 50%;
  margin-left: -312px;
  height: 500px;
  top: 50%;
  margin-top: -250px; }

.no_display {
  display: none; }
